<a href="/home">HOME</a>
<a href="/products">PRODUCTS</a>
<a href="/services">SERVICES</a>
<a href="/join">JOIN US</a>
<a href="/contact">CONTACT US</a>
<br>
<legend>Fruits den</legend>

<br>
Upload your CV
<br>
<br>
<input type="file" name="CV">
<br>
Select Gender<br>
<input type="radio" name="gender"><label for="">Male</label>
<input type="radio" name="gender"><label for="">Female</label>
<br>
Select interests<br>
<input type="checkbox"name="IT"><label for="">IT</label>
<input type="checkbox"Biz ><label for="">Business</label>
<input type="checkbox"Finance><label for=""> Finance</label>
<input type="checkbox"Marketing><label for="">Marketing</label>
<br>

pick your town<br>
<select name="town" id="">
    <option value="nrb"> Nairobi</option>
    <option value="nkr"> Nakuru</option>
    <option value="mbs"> Mombasa</option>
    <option value="bsa"> Busia</option>
    <option value="macha"> Machakos</option>

</select>




<input type="submit" value="register"/>
<input type="reset"/>

</form>
